
<div class="container">
  <h1 style=" color: white; text-align: center"> Contact us</h1>
  <div class="row">

    <div class="col-5">
      <div class="row">
        <h3 style=" color: white; text-align: center; margin-left: 30%; margin-top: 10%">Jalpa Shah</h3>
          <div class="jumbotron" style="width: 50%; margin-left: 25%; background-color: #C3E8FB; margin-top: 10%">
            <h3  class="display-5" style="color: white; text-align: center"><img src="../../assets/image%20(10).png"><b>Email</b></h3>
            <p class="lead" style="color: white">ponyfair@gmail.com</p>
          </div>
      </div>
      <div class="row">
        <div class="jumbotron" style="width: 50%; margin-left: 25%; background-color: #C3E8FB">
          <h3  class="display-5" style="color: white; text-align: center"><img src="../../assets/image%20(11).png"><b>Phone</b></h3>
          <p class="lead" style="color: white;text-align: center">+61-433217575</p>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="jumbotron" style="width: 70%; margin-left: 2%; background-color: #C3E8FB; text-align: center; margin-top: 5%; height: 90%">

        <div class="container col-8">
          <h4  class="display-5" style="color: white; text-align: center; margin-bottom: 25%"><b>Connect to us via</b></h4>
          <h5  class="display-5" style="color: white; text-align: center"><img src="../../assets/image%20(9).png"><b>Pinterest</b></h5>
          <h5  class="display-5" style="color: white; text-align: center"><img src="../../assets/image%20(8).png"><b>Google+</b></h5>
          <h5  class="display-5" style="color: white; text-align: center"><img src="../../assets/image%20(7).png"><b>Twitter</b></h5>
          <h5  class="display-5" style="color: white; text-align: center"><img src="../../assets/image%20(6).png"><b>Instagram</b></h5>
          <h5  class="display-5" style="color: white; text-align: center"><img src="../../assets/image%20(5).png"><b>Facebook</b></h5>
        </div>

      </div>
    </div>
  </div>
</div>








