<!--<p>about-us works!</p>-->
<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="col-sm-3 col-md-6 col-lg-11" style="margin: 3%">
      <h2 style="color: white">About-us</h2>
        <p class="text-center p-4" style="color: white"> We Provide most desirable mechanical pony rides in Melbounr, Victoria, Australia. Our team
        includes the professionals who can manage the  operations as well as they can make sure the safety of children.
        </p>
        <h4  class="text-left p-4" style="color: white">
          <b>Our Vision</b>
        </h4>
        <p style="color: white">
          To become the best mechanical pony rides provider in Australia and
          provide best in class and secure experience to the children.
        </p>
        <h4  class="text-left p-4" style="color: white">
          <b>Our Mission</b>
        </h4>
        <p style="color: white">
          To continuously improve more and more on customer experience by efficient management and providing one of a kind experience of
          mechanical pony rides with major focus on enjoyment with safety in Australia.
        </p>

    </div>
    </div>

  </div>
</div>
