
.navbar {
  height: 30%;
  background-image: url('~src/assets/Group 46.png');
  //background-image: url('~src/assets/Group 46.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5%;
  background-size: 100%;



  //background: coral;
}

.container{

  background-size: cover;

}

.navbar-brand{
  align-content: center;
  //background-image: url('~src/assets/Group 44.png');
}
