<!--<p>party works!</p>-->
<h1 class="text-center" style="color: white">Party packages</h1>
<div class="jumbotron" style="width: 65%; margin-left: 25%; background: transparent">

  <div class="container">
    <table class="table" style="width: 80%; text-align: center">
      <tr>
        <th rowspan="2"></th>
        <th  colspan="2"  class="text-uppercase" style="color: red; width: 30%; text-align: center;"><b>one pony</b></th>
        <th  colspan="2"  class="text-uppercase" style="color: red; width: 30%; text-align: center;"><b>two ponies</b></th>
      </tr>
      <tr>
        <th  style="color: red; text-align: center; "><b>1hrs</b></th>
        <th  style="color: red; text-align: center; "><b>2hrs</b></th>
        <th  style="color: red; text-align: center; "><b>1hrs</b></th>
        <th  style="color: red; text-align: center; "><b>2hrs</b></th>
      </tr>


      <tr>
        <td class="text-uppercase" style="color: red; width: 20%; text-align: center"><b> 1-10 Children</b></td>
        <td style="background-color: lightskyblue; color: white">130</td>
        <td style="background-color: lightskyblue; color: white">200</td>
        <td style="background-color: lightskyblue; color: white">200</td>
        <td style="background-color: lightskyblue; color: white">280</td>

      </tr>

      <tr>
        <td class="text-uppercase" style="color: red; width: 20%; text-align: center"> <b>11-15 Children</b></td>
        <td></td>
        <td style="background-color: lightskyblue; color: white">200</td>
        <td style="background-color: lightskyblue; color: white">200</td>
        <td style="background-color: lightskyblue; color: white">280</td>

      </tr>
      <tr>
        <td class="text-uppercase" style="color: red; width: 20%; text-align: center"><b>16-20 Children</b></td>
        <td></td>
        <td></td>
        <td style="background-color: lightskyblue; color: white">200</td>
        <td style="background-color: lightskyblue; color: white">280</td>

      </tr>
       <tr>
         <td class="text-uppercase" style="color: red; width: 20%; text-align: center"><b>21-24 Children</b></td>
         <td></td>
         <td></td>
         <td></td>
         <td style="background-color: lightskyblue; color: white">280</td>

       </tr>
      <tr>
        <td class="text-uppercase" style="color: red; width: 20%; text-align: center"><b>25+ Children</b></td>
        <td colspan="4" ><h5 class="text-center"> Please contact me to discuss requirements </h5></td>

    </tr>
      <tr>
        <td class="text-uppercase" style="color: red; width: 30%; text-align: center"><b>Themes</b></td>
        <td style="text-align: center"><img src="../../assets/correct.png"></td>
        <td style="text-align: center"><img src="../../assets/correct.png"></td>
        <td style="text-align: center"><img src="../../assets/correct.png"></td>
        <td style="text-align: center"><img src="../../assets/correct.png"></td>
      </tr>
    </table>

  </div>
</div>


