
<app-slider></app-slider>

<div class="container-fluid">
  <div class="text-center">
    <div class="row">

      <div class="col-sm-3 col-md-6 col-xs-10" style="padding: 5%">
        <p style="color: white">Are you looking for your child to have fun time? Or
          finding a way to organize birthday party of your child?
          Visit PONY FAIR at your nearest location and make your child experience the best mechanical
          ride of our Most Advanced Pony Cycles. Here your child can experience the Horse-Riding experience in a safe environment.</p>
      </div>

      <div class="col-sm-3 col-md-6 col-xs-10" style="padding: 2%;">
        <img src="assets/Pony1.png" class="rounded-right" alt="Pony1" style="width: 30%; margin: 2%; border: 3px solid black">
      </div>
    </div>



    <div class="row">

      <div class="col-sm-3 col-md-6 col-xs-10" style="padding: 2%;">
        <img src="assets/Pony3.png" class="rounded-right" alt="Pony3" style="width: 30%; margin: 2%;border: 3px solid black">
      </div>

      <div class="col-sm-3 col-md-6 col-xs-10" style="padding: 5%">
        <p style="color: white">This is a true fun activity that all children will love. Especially,
          when they ride ponies at pony fair with their friends.
          It is more fun than playing in conventional play areas.
          This can develop the competitive mindset and aspire him/her
          to achieve more with the small pony races.</p>
      </div>





    <div class="row">

      <div class="col-sm-3 col-md-6 col-xs-10" style="padding: 5%">
        <p style="color: white">We ensure the hassle-free process for you when you choose us for Pony
          Party on special occasions like Birthdays, Achievement, etc.
          Pony Fair Team will ensure the safety of children and
          you can enjoy the precious smile of your child.</p>
      </div>

      <div class="col-sm-3 col-md-6 col-xs-10" style="padding: 2%;">
        <img src="assets/Pony21.png" class="rounded-right" alt="Pony21" style="width: 30%; margin: 2%; border: 3px solid black; border-background: white  ">
      </div>
      <img src="assets/price.png" class="rounded-right" alt="price" style="margin-left: 8%">
    </div>
    </div>
      <div class="text-center mt-4">
         <h2>Testimonial</h2>
      </div>


    <div class='container-flex' style="margin-bottom: 3%; margin-top: 5%">

    <div class='col-12'>
    <ngb-carousel>
      <ng-template ngbSlide >
       <img src="../../assets/alberta.png" class="rounded-circle" alt="alberta">
        <h3 class="text-uppercase" style="margin-top: 2%" >Alberta Roy</h3>
        <h4 style="text-align: center; margin-bottom: 5%;">Thank you so much for coming to Lilly's party she loved every minute Very highly recommend, very well organised,
          loads of fun things to do and the pony was amazing. Once again thank you </h4>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/San%20Francisco.png" class="rounded-circle" alt="San">
        <h3 class="text-uppercase" style="margin-top: 2%">San Fransico</h3>
        <h4 style="text-align: center; margin-bottom: 5%;">Thank you so much for today Meghan and Layla had a brilliant day
          and thank you for getting us in at short notice</h4>

      </ng-template>
      <ng-template ngbSlide >
        <img src="../../assets/Abhimanyu.png" class="rounded-circle" alt="Abhimanyu">
        <h3 class="text-uppercase"  style="margin-top: 2%">Abhimanyu Bajaj</h3>
        <h4 style="text-align: center; margin-bottom: 5%;"> Thanks so much to Basic Fun! for supporting our event and creating these wonderful G1 inspired ponies.
          We love being able to add them to our collections!</h4>

      </ng-template>
      <ng-template ngbSlide>

          <img src="../../assets/Krifft-zipsner.png" class="rounded-circle" alt="krifft">
          <h3 class="text-uppercase"  style="margin-top: 2%">Krifft Zipsner</h3>
          <h4 style="text-align: center; margin-bottom: 5%;">Our Pony Fair family just got a little bigger! Congratulations to Summer & her family on the birth of her beautiful baby girl!!

          </h4>

      </ng-template>
    </ngb-carousel>

  </div>
</div>
  </div>




