
.item {
  background: #333;
  text-align: center;
  height: 300px;
}

.h2 {
  margin: 0;
  color: #888;
  padding-top: 80px;
  font-size: 30px;
}
//.carousel-item {
//  height: 65vh;
//  min-height: 350px;
//  background: no-repeat center center scroll;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
//.dot {
//  height: 12em;
//  width: 12em;
//  background-color: white;
//  border-radius: 50%;
//  display: inline-block;
//  margin-left: 45%;
//  background-image: url("~src/assets/ponyfair.png");
//  background-repeat: no-repeat;
//  background-size: cover;
//}

.h1{
  width: 80%;
  height: 45%;
}

